.snackbar{
  position:fixed;

  top:25px;
  left:50%;

  transform:
  translateX(-50%);

  z-index:9999;

  padding:
  14px 22px;

  border-radius:14px;

  color:white;

  font-weight:600;

  backdrop-filter:
  blur(20px);

  background:
  rgba(
    139,
    92,
    246,
    .9
  );

  border:
  1px solid
  rgba(
    255,
    255,
    255,
    .15
  );

  box-shadow:
  0 10px 30px
  rgba(
    139,
    92,
    246,
    .35
  );

  animation:
  slideDown .3s ease;
}

@keyframes slideDown{

  from{
    opacity:0;
    transform:
    translateX(-50%)
    translateY(-20px);
  }

  to{
    opacity:1;
    transform:
    translateX(-50%)
    translateY(0);
  }

}